.about {
  background-color: var(--bg-main-grey);
  padding: 60px 30px 90px;
  text-align: center;
  font-weight: 600;
}

.about-title {
  margin: 0 0 42px 0;
  font-size: 34px;
  font-weight: 700;
}

.about-subtitle-ru,
.about-subtitle-en {
  font-size: 18px;
  margin: 0 0 15px 0;
}

.about-description-ru,
.about-description-en {
  font-size: 18px;
  margin: 0 0 15px 0;
  text-align: justify;
}

.about-subtitle-en {
  margin: 15px 0 15px 0;
}

@media (max-width: 480px) {
  .about-subtitle-ru,
  .about-subtitle-en,
  .about-description-ru,
  .about-description-en {
    font-size: 14px;
  }
}
