.contacts {
  padding: 55px 0 63px 0;
  text-align: center;
}

.contacts-title {
  font-size: 34px;
  font-weight: 700;
}
.contacts-button {
  margin: 75px 0 30px 0;
  background-color: var(--color-black);
  width: 210px;
  height: 42px;
  border-radius: 21px;
}

.contacts-button:hover {
  opacity: 0.8;
}

.button-link {
  font-size: 24px;
  color: var(--bg-main);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social-icon {
  width: 65px;
  height: 65px;
  fill: rgb(0, 0, 0);
}

.social-icon:hover {
  fill: rgb(238, 41, 195);
}

.contacts-info {
  width: 260px;
  color: var(--font-color-grey);
  margin: 35px auto 0;
  font-size: 16px;
}

@media (max-width: 400px) {
  .socials {
    gap: 20px;
  }
  .social-icon {
    width: 55px;
    height: 55px;
  }
  .contacts-info {
    font-size: 14px;
  }
}
